__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.venv/
env/
.env/

.env
.flaskenv

instance/
.webassets-cache
*.sqlite3
*.db

migrations/__pycache__/

slis/uploads/
uploads/
*.csv
*.txt
!requirements.txt
*.xlsx
*.xls

.vscode/
.idea/
.DS_Store

celerybeat-schedule
celerybeat.pid

*.log
logs/